.contenedor{
width: 100%;
height: 1000px;
background-color: rgb(195, 152, 236);
display: flex;
flex-direction: column;
font-size: 50px;
text-align: center;

}

.encabezado{
width: 100%;
height: 100px;
background-color: rgb(164, 118, 207);
color: rgb(0, 0, 0);
font-family: 'Times New Roman', Times, serif;
flex-direction: column;
font-size: 50px;
text-align: center;
}

.sociales{
width: 100%;
height: 300px;
background-color: rgb(195, 152, 236);
color: rgb(0, 0, 0);
font-size: 30px;
text-align: center;
}
